.header-img {
  width: 75%;
  height: 100px;
  padding: 5px;
}
.header-container {
  padding: 10px;
  /* background-image: linear-gradient(rgb(2, 8, 90), rgba(0, 1, 48, 0.75)); */
}
.header-content {
  background-color: rgba(10, 142, 182, 0.459);
  padding: 10px;
}
