.donor-img {
  width: 250px;
  height: 150px;
  margin: 10px;
  border: 2px solid gray;
}
.donor-info {
  margin: 10px;
  border: 2px solid rgb(243, 245, 160);
  border-radius: 15px;
}
.donate-btn {
  background-color: rgb(231, 98, 98);
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
}
